<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Test suite example for Hire purchase customers" verbose="2"
       parallel="false" thread-count="1" preserve-order="true" >

    <listeners>
        <listener class-name="helpers.TestListener" />
    </listeners>

    <test name="Test suite 1" preserve-order="true">
        <groups>
            <dependencies>
            </dependencies>
        </groups>
        <classes>
            <class name="tests.PrivateCustomerHPTest" />
            <class name="tests.BusinessCustomerHPTest" />
        </classes>
    </test>

</suite>

